.auth-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .auth-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .auth-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .auth-btn {
    padding: 10px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .auth-btn:hover {
    background-color: #009bb3;
  }
  .danger{
    background-color: rgb(250, 194, 194);
    font-size: 14px;
    color: red;
    margin-top: 10px;
    
  }
  